{% extends 'base.html'%}


{% block content %}

<div id="index">
<h1>Welcome  To  PitchOnes !</h1>
<p id='intro'>An application that allows you to submit pitch ones a mintue.</p>
<br>
<p id='select'>Please select a catagory:</p>

    <div class="btn-group" role="group">
        <a class="btn btn-success btn-lg" href="/category/showerthoughts">i. Night-Thoughts</a>
    </div>
    <br>
    <div class="btn-group" role="group">
         <a  class="btn btn-success btn-lg" href="{{url_for('main.category',ct_name='dadjokes')}}">ii. Bad-Jokes</a>
    </div>
    <br>
    <div class="btn-group" role="group">
       <a class="btn btn-success btn-lg" href="/category/til">iii. ASAP</a>
 
</div>
{% endblock%}