
{% extends 'base.html' %}
<!-- content block -->
{% block content %}

<div id='view'>
  <h2 id='view-title'>{{post.post_title}}</h2>
  <p class='content firstletter '>{{post.post_text}}</p>
  
  <br>
  <hr>
  <a class="btn btn-info text-center " href="{{url_for('main.new_comment', id=post.id)}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Comment</a>

  <br>
    <br>
  {% for comment in comments %}
  <div class="panel panel-default" class='panel-view'>
      
      <div class="panel-body">
          <p class='firstletter'>{{comment.comment_text}}</p>
      </div>
     
    </div>
    {% endfor %}
  </div>
{% endblock %}